{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/one/slide-.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="slide-3">
      <div class="bus-stop-guidance">
        <div class="image-container">
          <div class="boarding-info">
            <img
              class="image-8-icon2"
              loading="lazy"
              alt=""
              src="{% static 'image/one/image-9@2x.png' %}"
            />
          </div>
          <div class="boarding-instructions add-message">
            <div class="map-instructions">
              <div class="rectangle-parent6">
                <div class="frame-child9"></div>
                <div class="please-board-the">{% trans "Please board the 6010 bus" %}</div>
              </div>
            </div>
            <button class="rectangle-parent7">
              <div class="frame-child10"></div>
              <div class="at-bus-stop">{% trans "At bus stop 7A" %}</div>
            </button>
            <button class="rectangle-parent8">
              <div class="frame-child11"></div>
              <div class="the-map-will">{% trans "The map will close after 30s" %}</div>
            </button>
          </div>
        </div>
      </div>
      <section class="rectangle-parent9">
        <div class="frame-child12"></div>
        <header class="map-and-image">
          <div class="image-26-parent">
            <img
              class="image-26-icon"
              loading="lazy"
              alt=""
              src="{% static 'image/one/image-26@2x.png' %}"
            />

            <h3 class="bus-stop-map">{% trans "Bus stop map" %}</h3>
          </div>
          <div class="image-27-wrapper">
            <img
              class="image-27-icon"
              loading="lazy"
              alt=""
              src="{% static 'image/one/image-27@2x.png' %}"
            />
          </div>
        </header>
        <footer class="feedback-prompt1">
          <div class="prompt-container">
            <img
              class="prompt-container-child"
              loading="lazy"
              alt=""
              src="{% static 'image/one/group-21@2x.png' %}"
            />

            <div class="if-the-sentence-displayed-on-t-container">
              <div class="if-the-sentence-container3">
                <p class="if-the-sentence3">
                  {% trans "If the sentence displayed on the screen was not what you intended," %}
                </p>
                <p class="look-at-the3">
                  {% trans "look at the camera and use the sign word 'again'." %}
                </p>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </div>
    <script>
        function addMessageToBusGuide(message){
        const add_messageElement = document.querySelector('.add-message');

        // 새로운 'schedule-prompt' div 요소를 생성합니다.
        var newMapInstructions = document.createElement('div');
        newMapInstructions.className = 'map-instructions';

        // 새로운 div 요소를 생성
        var newParentElement = document.createElement('div');
        newParentElement.className = 'rectangle-parent6';
        newParentElement.style.alignItems = 'center';
        newParentElement.style.justifyContent = 'center';
        // 자식 div요소를 추가
        var newChildElement1 = document.createElement('div');
        newChildElement1.className = 'frame-child9';

        var newChildElement2 = document.createElement('div');
        newChildElement2.className = 'please-board-the';
        newChildElement2.style.textAlign = 'center';
        newChildElement2.textContent = message;  // 메시지로 대체합니다.

        // 자식 div 요소들을 부모 div 요소에 추가합니다.
        newParentElement.appendChild(newChildElement1);
        newParentElement.appendChild(newChildElement2);

        // 부모 div 요소를 'schedule-prompt' div 요소에 추가합니다.
        newMapInstructions.appendChild(newParentElement);

        // 생성한 부모 div 요소를 원하는 위치에 추가합니다.
        add_messageElement.appendChild(newMapInstructions);
      }
    </script>
    <script src="{% static 'js/ml.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>
  </body>
</html>
