{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/tempLocofy/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tempLocofy/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="slide-">
      <div class="settings">
        <div class="language">
          <div class="korean-setup">
            <img
              class="image-7-icon"
              loading="lazy"
              alt=""
              src="{% static 'image/image-7@2x.png' %}"
            />
          </div>
          <div class="english-setup">
            <div class="title">
              <h2 class="h2">
                <p class="p">미래를 선도하는 스마트 공항</p>
                <p class="p1">인천 공항 외국수어 통역 서비스</p>
              </h2>
            </div>
            <div class="service-title">
              <h1 class="hand-bridge">HAND BRIDGE</h1>
              <div class="english-service">
                <div class="foreign-sign-language">
                  Foreign sign language interpretation service
                </div>
              </div>
              <div class="chinese-service">
                <div class="div">外语手语翻译服务</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="language-select">
        <h2 class="language1">LANGUAGE 语言</h2>
      </div>
      <div class="video-instructions">
        <div class="english-video">
          <textarea class="content" rows="{15}" cols="{20}"> </textarea>
          <div class="english-description">
            <div class="english-video-title">
              <div class="video-service">Video service</div>
            </div>
            <div class="english-code">
              <div class="code-icon"></div>
              <div class="a">A</div>
            </div>
          </div>
          <div class="instructions">
            <div class="follow-the-instructions-lookin-container">
              <p class="follow-the-instructions">Follow the instructions</p>
              <p class="looking-at-the">looking at the camera screen</p>
              <p class="please-use-sign">Please use sign language.</p>
            </div>
          </div>
        </div>
        <div class="chinese-video">
          <div class="chinese-video-child"></div>
          <div class="chinese-description">
            <div class="chinese-video-title">
              <div class="div1">
                <p class="p2">视频服务</p>
              </div>
            </div>
            <div class="chinese-code">
              <div class="chinese-code-icon"></div>
              <div class="div2">中</div>
            </div>
          </div>
          <div class="div3">
            <p class="p3">按照说明操作</p>
            <p class="p4">看着相机屏幕</p>
            <p class="p5">请使用手语</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
