{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/temp/global.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div
      class="w-full relative bg-white overflow-hidden flex flex-col items-start justify-start pt-32 pb-[150px] pr-[322px] pl-[324px] box-border gap-[51px] leading-[normal] tracking-[normal] text-right text-6xl text-black font-inter mq450:gap-[25px] mq450:pl-5 mq450:pr-5 mq450:box-border mq850:pl-[162px] mq850:pr-[161px] mq850:box-border"
    >
      <div
        class="self-stretch flex flex-row items-start justify-start py-0 pr-0 pl-1 box-border max-w-full"
      >
        <div
          class="flex-1 flex flex-row items-start justify-between max-w-full gap-[20px] mq1500:flex-wrap"
        >
          <div
            class="h-[132px] w-[330px] flex flex-col items-start justify-start pt-[52px] px-0 pb-0 box-border min-w-[330px] max-w-full mq1500:flex-1"
          >
            <img
              class="self-stretch flex-1 relative max-w-full overflow-hidden max-h-full object-cover mq1500:self-stretch mq1500:w-auto"
              loading="lazy"
              alt=""
              src="{% static 'image/image-7@2x.png' %}"
            />
          </div>
          <div
            class="w-[510px] flex flex-col items-end justify-start gap-[4px] min-w-[510px] max-w-full mq1225:min-w-full mq1500:flex-1"
          >
            <div
              class="self-stretch flex flex-row items-start justify-end py-0 pr-[9px] pl-0 box-border max-w-full"
            >
              <h2
                class="m-0 flex-1 relative text-inherit tracking-[0.1em] font-semibold font-inherit inline-block max-w-full mq450:text-xl"
              >
                <p class="m-0">미래를 선도하는 스마트 공항</p>
                <p class="m-0">인천 공항 외국수어 통역 서비스</p>
              </h2>
            </div>
            <div
              class="flex flex-col items-end justify-start gap-[9px] max-w-full text-mini"
            >
              <h1
                class="m-0 relative text-[50px] tracking-[0.1em] font-bold font-inherit mq450:text-[30px] mq850:text-[40px]"
              >
                HAND BRIDGE
              </h1>
              <div
                class="flex flex-row items-start justify-end py-0 px-[3px] box-border max-w-full"
              >
                <div class="relative tracking-[0.1em]">
                  Foreign sign language interpretation service
                </div>
              </div>
              <div class="flex flex-row items-start justify-end py-0 px-1">
                <div class="relative tracking-[0.1em]">外语手语翻译服务</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[826px] flex flex-row items-start justify-center max-w-full text-darkgray"
      >
        <h2
          class="m-0 w-[294px] relative text-inherit tracking-[0.1em] font-medium font-inherit inline-block shrink-0 mq450:text-xl"
        >
          LANGUAGE 语言
        </h2>
      </div>
      <div
        class="self-stretch flex flex-row items-start justify-center gap-[70px] max-w-full text-left mq1225:flex-wrap mq1225:gap-[35px] mq850:gap-[17px]"
      >
        <div
          class="flex-1 flex flex-col items-start justify-start pt-[30px] pb-[27px] pr-0 pl-[26px] box-border relative gap-[106px] min-w-[308px] max-w-full mq850:gap-[53px]"
        >
          <textarea
            class="[border:none] bg-whitesmoke h-full w-[400px] [outline:none] absolute !m-[0] top-[0px] bottom-[0px] left-[0px] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-xl"
            rows="{15}"
            cols="{20}"
          >
          </textarea>
          <div
            class="w-[340px] flex flex-row items-start justify-start gap-[32px] max-w-full mq450:flex-wrap mq450:gap-[16px]"
          >
            <div
              class="flex-1 flex flex-col items-start justify-start pt-4 px-0 pb-0 box-border min-w-[148px]"
            >
              <div
                class="self-stretch relative tracking-[0.1em] font-medium z-[1] mq450:text-xl"
              >
                Video service
              </div>
            </div>
            <div class="h-20 w-20 relative text-right">
              <div
                class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"
              ></div>
              <div
                class="absolute top-[23px] left-[8px] tracking-[0.1em] font-medium inline-block w-[41px] h-[42px] z-[2] mq450:text-xl"
              >
                A
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-row items-start justify-start py-0 pr-0 pl-3 box-border max-w-full text-mini"
          >
            <div
              class="flex-1 relative tracking-[0.1em] font-medium inline-block max-w-full z-[1]"
            >
              <p class="m-0">Follow the instructions</p>
              <p class="m-0">looking at the camera screen</p>
              <p class="m-0">Please use sign language.</p>
            </div>
          </div>
        </div>
        <div
          class="w-[400px] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-xl bg-whitesmoke flex flex-col items-start justify-start pt-[30px] pb-[25px] pr-[29px] pl-[43px] box-border gap-[105px] min-w-[400px] max-w-full mq1225:flex-1 mq1225:min-w-full mq450:gap-[52px] mq450:pl-5 mq450:box-border"
        >
          <div
            class="w-[400px] h-[300px] relative shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-xl bg-whitesmoke hidden max-w-full"
          ></div>
          <div
            class="self-stretch flex flex-row items-start justify-start gap-[20px] mq450:flex-wrap"
          >
            <div
              class="flex-1 flex flex-col items-start justify-start pt-4 px-0 pb-0 box-border min-w-[148px]"
            >
              <div
                class="self-stretch relative tracking-[0.1em] font-medium z-[1] mq450:text-xl"
              >
                <p class="m-0">视频服务</p>
              </div>
            </div>
            <div class="h-20 w-20 relative text-right">
              <div
                class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"
              ></div>
              <div
                class="absolute top-[25px] left-[12px] tracking-[0.1em] font-medium inline-block w-[41px] h-[33px] z-[2] mq450:text-xl"
              >
                中
              </div>
            </div>
          </div>
          <div
            class="self-stretch relative text-mini tracking-[0.1em] font-medium z-[1]"
          >
            <p class="m-0">按照说明操作</p>
            <p class="m-0">看着相机屏幕</p>
            <p class="m-0">请使用手语</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
