{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/one/slide-3.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
      <style>
    #video{
      display: none;
    }
    .rectangle-parent14 {
    position: relative;
}

#output {
    position: absolute;
      top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  </style>
  </head>
  <body>
    <div class="slide-4">
      <div class="slide-child1"></div>
      <div class="slide-child2"></div>
      <div class="cam3">CAM</div>
      <div class="rectangle-parent10">
        <div class="frame-child13"></div>
        <div class="frame-child14"></div>
        <img class="image-10-icon2" alt=""
             src="{% static 'image/one/image-10@2x.png' %}" />
      </div>
      <img class="slide-child3" alt=""
           src="{% static 'image/one/group-21@2x.png' %}" />

      <div class="if-the-sentence-container4">
        <p class="if-the-sentence4">
          If the sentence displayed on the screen was not what you intended,
        </p>
        <p class="look-at-the4">
          look at the camera and use the sign word 'again'.
        </p>
      </div>
      <img
        class="slide-child4"
        loading="lazy"
        alt=""
        src="{% static 'image/one/group-21@2x.png' %}"
      />

      <div class="number-request-content-wrapper">
        <div class="number-request-content">
          <div class="number-request">
            <div class="image-8-group">
              <img class="image-8-icon3" alt=""
                   src="{% static 'image/one/image-9@2x.png' %}" />

              <img
                class="image-9-icon2"
                loading="lazy"
                alt=""
                src="{% static 'image/one/image-9@2x.png' %}"
              />
            </div>
          </div>
          <div class="bus-number-prompt">
            <div class="schedule-prompt">
              <img
                class="schedule-prompt-child"
                loading="lazy"
                alt=""
                src="{% static 'image/one/polygon-11.svg' %}"
              />

              <button class="rectangle-parent11" style="justify-content: center">
                <div class="frame-child15"></div>
                <div class="please-tell-us">{% trans "Please try sign language again" %}</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <section class="frame-parent6">
        <div class="rectangle-parent13">
          <div class="frame-child17"></div>
          <div class="error-message">
            <div class="rectangle-parent14">
              <video id="video" autoplay></video>
              <canvas id="output"></canvas>
            </div>
<!--            <div class="h-[31.25rem] w-[56.25rem] relative max-w-full">-->
<!--              <video id="video" autoplay></video>-->
<!--              <canvas id="output"></canvas>-->
<!--            </div>-->
          </div>
          <div class="if-the-sentence-container5">
            <p class="if-the-sentence2">
                  {% trans "If the sentence displayed on the screen was not what you intended," %}
                </p>
                <p class="look-at-the2">
                  {% trans "look at the camera and use the sign word 'again'." %}
                </p>
          </div>
        </div>
        <div class="frame-wrapper4">
          <div class="rectangle-parent15">
            <div class="frame-child19"></div>
            <button class="support-option">
              <div class="support-option-child"></div>
              <img
                class="image-10-icon3"
                alt=""
                src="{% static 'image/one/image-10@2x.png' %}"
              />
            </button>
          </div>
        </div>
      </section>
    </div>
  <script src="{% static 'js/ml.js' %}"></script>
  </body>
</html>
