{% extends "base_question.html" %}
{% load i18n %}

{% block title %}
재질문
{% endblock %}

{% block message %}
<div class="mt-2 flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-white text-primary-foreground hover:bg-primary/90 px-4 py-2 w-full text-break" style="height: auto;">
    {% trans "Please try sign language again" %}
</div>
{% endblock %}

{% block video_content %}
    {{ block.super }}
{% endblock video_content %}