{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/one/global.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
  <style>
    #video{
      display: none;
    }
    #output {
        width: 100%;
        height: 100%;
    }
  </style>
  </head>
  <body>
    <div
      class="w-full relative bg-gray overflow-hidden flex flex-col items-end justify-start pt-[3.437rem] pb-[1.5rem] pr-[6.25rem] pl-[4.562rem] box-border gap-[0.687rem] leading-[normal] tracking-[normal] mq800:pl-[2.25rem] mq800:pr-[3.125rem] mq800:box-border mq450:pr-[1.25rem] mq450:box-border"
    >
      <div
        class="w-[67.313rem] h-[53.125rem] relative shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-xl bg-white hidden max-w-full"
      ></div>
      <section
        class="self-stretch flex flex-row items-start justify-start [row-gap:20px] max-w-full text-left text-[1.25rem] text-black font-inter mq1350:flex-wrap"
      >
        <div
          class="w-[33rem] flex flex-col items-start justify-start gap-[4.062rem] min-w-[33rem] max-w-full mq800:gap-[2rem] mq800:min-w-full mq450:gap-[1rem] mq1350:flex-1"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1.081rem] max-w-full"
          >
            <img
              class="w-[11.875rem] h-[3.125rem] relative object-cover"
              loading="lazy"
              alt=""
              src="{% static 'image/one/image-7@2x.png' %}"
            />

            <button
              class="cursor-pointer [border:none] py-[0rem] px-[0.937rem] bg-[transparent] w-[26.75rem] flex flex-row items-start justify-start box-border max-w-full"
            >
              <img
                class="h-[4.688rem] flex-1 relative max-w-full overflow-hidden object-cover"
                alt=""
                src="{% static 'image/one/-20240504--1033@2x.png' %}"              />
            </button>
            <div
              class="self-stretch flex flex-row items-start justify-start py-[0rem] pr-[0rem] pl-[1.687rem] box-border max-w-full"
            >
              <div
                class="flex-1 relative tracking-[0.1em] font-semibold inline-block max-w-full mq450:text-[1rem]"
              >
                <p class="m-0">미래를 선도하는 스마트 공항</p>
                <p class="m-0">인천 공항 외국수어 통역 서비스</p>
              </div>
            </div>
            <div
              class="flex flex-row items-start justify-start py-[0rem] px-[1.625rem] box-border max-w-full text-right text-[0.938rem]"
            >
              <div
                class="flex flex-col items-start justify-start gap-[0.625rem] max-w-full"
              >
                <div class="relative tracking-[0.1em]">
                  Foreign sign language interpretation service
                </div>
                <div class="relative tracking-[0.1em]">外语手语翻译服务</div>
              </div>
            </div>
          </div>
          <div
            class="w-[30.125rem] flex flex-row items-start justify-center py-[0rem] px-[1.25rem] box-border max-w-full"
          >
            <div class="w-[13.75rem] flex flex-row items-start justify-start">
              <div class="h-[13.75rem] flex-1 relative">
                <img
                  class="absolute top-[2.313rem] left-[2.438rem] w-[9.063rem] h-[9.063rem] object-contain"
                  loading="lazy"
                  alt=""
                  src="{% static 'image/one/image-9@2x.png' %}"
                />

                <div
                  class="absolute top-[0rem] left-[0rem] rounded-[50%] box-border w-full h-full z-[1] border-[0px] border-solid border-lightseagreen"
                ></div>
              </div>
            </div>
          </div>
          <div
            class="w-[30.125rem] flex flex-row items-start justify-center pt-[3.187rem] px-[0rem] pb-[0rem] box-border"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[3.125rem] mq450:gap-[1.563rem]"
            >
              <div
                class="self-stretch h-[1.5rem] relative tracking-[0.1em] inline-block mq450:text-[1rem]"
              >
                카메라 보고 언어를 말해라.
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex-1 flex flex-col items-start justify-start gap-[1.187rem] min-w-[36.563rem] max-w-full ml-[-0.063rem] text-right text-[2.813rem] text-white mq800:min-w-full mq1150:ml-0"
        >
<!--          <div-->
<!--            class="self-stretch flex flex-row items-start justify-center pt-[13.75rem] pb-[14.062rem] pr-[1.25rem] pl-[1.562rem] box-border max-w-full mq800:pt-[1.313rem] mq800:pb-[9.125rem] mq800:box-border "-->
<!--          >-->
<!--            <div-->
<!--              class="h-[31.25rem] w-[56.25rem] relative bg-black hidden max-w-full"-->
<!--            ></div>-->
            <div class="h-[31.25rem] w-[56.25rem] relative max-w-full">
              <video id="video" autoplay></video>
              <canvas id="output"></canvas>
            </div>
<!--          </div>-->
          <div
            class="w-[56.25rem] flex items-center justify-center py-[0rem] px-[1.25rem] box-border max-w-full text-[1.25rem] text-darkgray"
          >
            <div class="w-[18.375rem] text-center relative tracking-[0.1em] font-medium inline-block shrink-0 mq450:text-[1rem]">
              LANGUAGE 语言
            </div>
          </div>

          <div
            class="w-[55.563rem] flex flex-row items-start justify-start gap-[1.5rem] max-w-full text-[1.563rem] mq1150:flex-wrap text-black font-inter"
          >
            <div
              class="h-[12.563rem] flex-1 relative min-w-[18.875rem] max-w-full"
            >
              <textarea
                class="[border:none] bg-whitesmoke-200 h-[calc(100%_-_1px)] w-[25rem] [outline:none] absolute top-[0rem] bottom-[0.063rem] left-[0rem] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-xl"
                rows="{10}"
                cols="{20}"
              >
              </textarea>
              <div
                class="absolute top-[1.313rem] left-[18.438rem] w-[5rem] h-[5rem]"
              >
                <div
                  class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-white w-full h-full z-[1]"
                ></div>
                <h2
                  class="m-0 absolute top-[1.438rem] left-[0.5rem] text-inherit tracking-[0.1em] font-medium font-inherit inline-block w-[2.563rem] h-[2.625rem] z-[2] mq450:text-[1.25rem]"
                >
                  A
                </h2>
              </div>
              <div
                class="absolute top-[2.813rem] left-[1.813rem] w-[27.25rem] flex flex-col items-start justify-start gap-[2.625rem] max-w-full text-left"
              >
                <div
                  class="w-[14.875rem] flex flex-row items-start justify-start py-[0rem] px-[0.312rem] box-border"
                >
                  <h2
                    class="m-0 flex-1 relative text-inherit tracking-[0.1em] font-medium font-inherit z-[1] mq450:text-[1.25rem]"
                  >
                    Video service
                  </h2>
                </div>
                <div
                  class="self-stretch h-[5.25rem] relative text-[0.938rem] tracking-[0.1em] font-medium inline-block shrink-0 z-[1]"
                >
                  <p class="m-0">Follow the instructions</p>
                  <p class="m-0">looking at the camera screen</p>
                  <p class="m-0">Please use sign language.</p>
                </div>
              </div>
            </div>
            <div
              class="h-[15.313rem] w-[25rem] relative min-w-[25rem] max-w-full mq800:min-w-full mq1150:flex-1"
            >
              <textarea
                class="[border:none] bg-whitesmoke-100 h-[12.5rem] w-[25rem] [outline:none] absolute top-[0rem] left-[0rem] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-xl"
                rows="{10}"
                cols="{20}"
              >
              </textarea>
              <div
                class="absolute top-[1.25rem] left-[18.875rem] w-[5rem] h-[5rem]"
              >
                <div
                  class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-white w-full h-full z-[1]"
                ></div>
                <h2
                  class="m-0 absolute top-[1.625rem] left-[1.5rem] text-inherit tracking-[0.1em] font-medium font-inherit inline-block w-[1.938rem] h-[2.063rem] z-[2] mq450:text-[1.25rem]"
                >
                  中
                </h2>
              </div>
              <div
                class="absolute top-[2.813rem] left-[2.688rem] w-[20.5rem] flex flex-col items-start justify-start gap-[2.5rem] text-left"
              >
                <h2
                  class="m-0 w-[14.25rem] relative text-inherit tracking-[0.1em] font-medium font-inherit inline-block z-[1] mq450:text-[1.25rem]"
                >
                  <p class="m-0">视频服务</p>
                </h2>
                <div
                  class="self-stretch h-[7.938rem] relative text-[0.938rem] tracking-[0.1em] font-medium inline-block shrink-0 z-[1]"
                >
                  <p class="m-0">按照说明操作</p>
                  <p class="m-0">看着相机屏幕</p>
                  <p class="m-0">请使用手语</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <section
        class="w-[82.438rem] flex flex-row items-start justify-end py-[0rem] px-[0.375rem] box-border max-w-full text-right text-[1.25rem] text-black font-inter"
      >
        <div
          class="flex-1 flex flex-row items-start justify-between max-w-full gap-[1.25rem] mq1350:flex-wrap"
        >
        </div>
      </section>
    </div>
  <script>
    const videoElement = document.getElementById('video');
    const canvasElement = document.getElementById('output');
    const canvasCtx = canvasElement.getContext('2d');
    function sendDataToServer(data) {
      socket.send(JSON.stringify(data));
    }

    const hands = new Hands({locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
    }});
    hands.setOptions({
      maxNumHands: 2,
      modelComplexity: 1,
      minDetectionConfidence: 0.5,
      minTrackingConfidence: 0.5
    });
    hands.onResults(onResults);

    const camera = new Camera(videoElement, {
      onFrame: async () => {
        await hands.send({image: videoElement});
      },
      width: 800,
      height: 480
    });
    camera.start();

    // WebSocket 연결 열기
    const socket = new WebSocket('ws://localhost:8000/ws/js/');

    // 메시지 이벤트 핸들러 추가
    // dicsonnect가 아니라 나중에는 해당하는 모듈로 이동시키기.
    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const message = data.message;
        if (message === 'disconnect') {
          // 웹소켓 연결 끊기
          socket.close();
          // 5초 후에 request_ticket 페이지로 이동
          setTimeout(function() {
              window.location.href = 'http://localhost:8000/refund/request_ticket';
          }, 1000);
          const messageElement = document.getElementById('message');
          messageElement.textContent = message;
        }
        console.log('http://localhost:8000/' + message);
        window.location.href = 'http://localhost:8000/' + message;
    };

    function onResults(results) {
      canvasCtx.save();
      canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
      canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);
      if (results.multiHandLandmarks) {
        for (const landmarks of results.multiHandLandmarks) {
          drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS, {color: '#00FF00', lineWidth: 5});
          drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});

          // Send hand landmarks data to Django server via WebSocket
          for (const [handId, landmarks] of results.multiHandLandmarks.entries()) {
            const handData = {
                "handId" : handId,
                "landmarks" : landmarks
            };
            const jsonString = JSON.stringify(handData);
            sendDataToServer(jsonString);
          }
        }
      }
      canvasCtx.restore();
    }
  </script>
  </body>
</html>
