{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/one/global.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div
      class="w-full h-[56.25rem] relative bg-whitesmoke-300 overflow-hidden leading-[normal] tracking-[normal] text-right text-[0.938rem] text-black font-inter"
    >
      <div
        class="absolute top-[12.563rem] left-[2.125rem] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] w-[25rem] h-[14rem] text-[1.25rem]"
      >
        <div
          class="absolute top-[2.125rem] left-[0rem] rounded-mini bg-white w-[25rem] h-[5rem]"
        ></div>
        <div
          class="absolute top-[9rem] left-[0rem] rounded-mini bg-white w-[25rem] h-[5rem]"
        ></div>
        <img
          class="absolute top-[0rem] left-[11.875rem] w-[1.25rem] h-[3.125rem]"
          loading="lazy"
          alt=""
          src="{% static 'image/one/hand-shape.svg' %}"
        />

        <div
          class="absolute top-[3.313rem] left-[4.875rem] tracking-[0.1em] mq450:text-[1rem]"
        >
          <p class="m-0">Select your area code</p>
          <p class="m-0">from the list next to it</p>
        </div>
        <div
          class="absolute top-[10.75rem] left-[0.563rem] tracking-[0.1em] text-center mq450:text-[1rem]"
        >
          Tell the number in sign language.
        </div>
      </div>
      <section
        class="absolute top-[1.625rem] left-[30.125rem] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-xl bg-white w-[68.75rem] h-[52.938rem]"
      ></section>
      <div
        class="absolute top-[15.875rem] left-[40.375rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.188rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          1
        </div>
      </div>
      <div
        class="absolute top-[20.625rem] left-[40.375rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.25rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          2
        </div>
      </div>
      <img
        class="absolute top-[2rem] left-[10.063rem] w-[9.063rem] h-[9.063rem] object-cover"
        loading="lazy"
        alt=""
        src="{% static 'image/one/image-9@2x.png' %}"
      />

      <div
        class="absolute top-[49.625rem] left-[54.563rem] w-[3.125rem] h-[3.125rem]"
      >
        <img
          class="absolute top-[0rem] left-[0rem] w-full h-full object-cover"
          loading="lazy"
          alt=""
          src="{% static 'image/one/group-21@2x.png' %}"
        />
      </div>
      <footer
        class="absolute top-[50.063rem] left-[58.375rem] w-[36.5rem] h-[2.25rem] text-right text-[0.938rem] text-black font-inter"
      >
        <div class="absolute top-[0rem] left-[0rem] w-full h-full">
          <div
            class="absolute top-[0rem] left-[0rem] tracking-[0.1em] inline-block w-full h-full"
          >
            <p class="m-0">
              If the sentence displayed on the screen was not what you intended,
            </p>
            <p class="m-0">look at the camera and use the sign word 'again'.</p>
          </div>
        </div>
      </footer>
      <h1
        class="m-0 absolute top-[5.125rem] left-[41.063rem] text-[2.188rem] tracking-[0.1em] font-medium font-inherit mq450:text-[1.313rem] mq767:text-[1.75rem]"
      >
        <p class="m-0">Gyeonggi</p>
      </h1>
      <textarea
        class="[border:none] bg-black h-[14.25rem] w-[25.625rem] [outline:none] absolute top-[29.375rem] left-[2.125rem] py-[6.375rem] px-[11.187rem] box-border font-inter text-[1.25rem] text-white"
        placeholder="CAM"
        rows="{11}"
        cols="{21}"
      >
      </textarea>
      <img
        class="absolute top-[4.625rem] left-[34.625rem] w-[5rem] h-[3.75rem] object-cover"
        loading="lazy"
        alt=""
        src="{% static 'image/one/image-34@2x.png' %}"
      />

      <div
        class="absolute top-[10.75rem] left-[35rem] bg-whitesmoke-300 w-[58.938rem] h-[3.188rem]"
      ></div>
      <div
        class="absolute top-[11.75rem] left-[39.375rem] tracking-[0.1em] inline-block min-w-[4rem]"
      >
        number
      </div>
      <div
        class="absolute top-[11.75rem] left-[51.75rem] tracking-[0.1em] inline-block min-w-[6.563rem]"
      >
        region name
      </div>
      <div
        class="absolute top-[16.188rem] left-[54.125rem] tracking-[0.1em] inline-block min-w-[3rem]"
      >
        Seoul
      </div>
      <div
        class="absolute top-[20.813rem] left-[53.438rem] tracking-[0.1em] inline-block min-w-[4.313rem]"
      >
        Gyeongi
      </div>
      <div
        class="absolute top-[15.875rem] left-[68.188rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.188rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          3
        </div>
      </div>
      <div
        class="absolute top-[20.625rem] left-[68.188rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.25rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          4
        </div>
      </div>
      <div
        class="absolute top-[16.188rem] left-[81.688rem] tracking-[0.1em] inline-block min-w-[3.25rem]"
      >
        Busan
      </div>
      <div
        class="absolute top-[20.813rem] left-[81.313rem] tracking-[0.1em] inline-block min-w-[4.313rem]"
      >
        Daejeon
      </div>
      <div
        class="absolute top-[11.75rem] left-[67.188rem] tracking-[0.1em] inline-block min-w-[4rem]"
      >
        number
      </div>
      <div
        class="absolute top-[11.75rem] left-[79.563rem] tracking-[0.1em] inline-block min-w-[6.563rem]"
      >
        region name
      </div>
      <div
        class="absolute top-[25.813rem] left-[40.375rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.188rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          1
        </div>
      </div>
      <div
        class="absolute top-[30.563rem] left-[40.375rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.25rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          2
        </div>
      </div>
      <div
        class="absolute top-[26.125rem] left-[54.125rem] tracking-[0.1em] inline-block min-w-[3rem]"
      >
        Seoul
      </div>
      <div
        class="absolute top-[30.75rem] left-[53.438rem] tracking-[0.1em] inline-block min-w-[4.313rem]"
      >
        Gyeongi
      </div>
      <div
        class="absolute top-[25.813rem] left-[68.188rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.188rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          3
        </div>
      </div>
      <div
        class="absolute top-[30.563rem] left-[68.188rem] w-[1.875rem] h-[1.875rem] text-white"
      >
        <div
          class="absolute top-[0rem] left-[0rem] rounded-[50%] bg-darkslateblue-100 w-full h-full"
        ></div>
        <div
          class="absolute top-[0.438rem] left-[0.25rem] tracking-[0.1em] leading-[0.988rem] font-medium inline-block w-[0.963rem] h-[0.988rem]"
        >
          4
        </div>
      </div>
      <div
        class="absolute top-[26.125rem] left-[81.688rem] tracking-[0.1em] inline-block min-w-[3.25rem]"
      >
        Busan
      </div>
      <div
        class="absolute top-[30.75rem] left-[81.313rem] tracking-[0.1em] inline-block min-w-[4.313rem]"
      >
        Daejeon
      </div>
    </div>
  <script src="{% static 'js/ml.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>
  </body>
</html>
